# Environment
.env

# Python virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django local files
*.log
db.sqlite3
db.sqlite3-journal

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/dist/

# Django collected static files
staticfiles/

# Local uploaded media
media/

# Keep existing profile image for deployment
!media/
!media/profiles/
!media/profiles/IMG-20230615-WA0006.jpg

# Database backups
data_backup*.json